.title-group {
  font-size: 72px;
  font-family: 'Merriweather';
}

.main {
  .main-card {
    display: flex;
    flex-wrap: wrap;
    transition: .8s;
    .main-card-txt {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 96px;
        font-family: 'Merriweather';   
      }
      p {
        width: 570px;
        font-size: 24px;
        color:#00000099;
      }
      button {
        width: 211px;
        height: 61px;
        border: 1px solid #000;
        font-size: 24px;
      }
    }
    .main-card-pic {
      width: 50%;
      .pagination {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #000;
        li {
          border-left: 1px solid #000;
          &:last-child {
            padding: 36px 48px;
          }
        }
        a {
          font-size: 48px;
          font-family: 'Merriweather';          
        }
        i {
          display: block;
          padding: 36px;            
        }
      }
    } 
  }
  .reverse {
    flex-direction: row-reverse;
    .main-card-txt {
      justify-content: space-between;
      padding: 96px 0;
      p {
        font-size: 16px;
        color:#00000099;
      }
      .title-group {
        text-align: right;
        align-self:flex-end;
      }
    }
    .main-card-pic {
      position: relative;
      transition: .8s;
      .readMore {
        position: absolute;
        top: 300px;
        right: -61px;
        button {
          width: 150px;
          height: 61px;
          font-size: 24px;
          background: #F1F5F6;
          border:none;
        }
        a {
          padding: 23px;
          color:#fff;
          background: #000;
        }
      }
    }
  }
  .nonReverse {
    flex-direction: row;
    .main-card-txt {
      padding-left: 96px;
      .title-group {
        text-align: left;
        align-self:flex-start;
      }
      p {
        font-size: 16px;
        color:#00000099;
        align-self:flex-end;
      }  
    }
    .main-card-pic {
      .readMore {
        left: -150px;
        button {
          background: #000;
          color:#fff;
        }
        a {
          background: #F1F5F6;
          color:#000;
          padding: 21px;
        }
      }
    }
  }
}  

.banner {
  --animate-duration: .4s;
  text-align: center;
  h3 {
    font-size: 48px;
    font-family: 'Merriweather';
  }
  p {
    margin: 0 auto;
    width: 570px;
  }
}

.quote {
  .container {
    position: relative;
    height: 640px;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: 0 -200px;
    }
  }
  .quote-box {
    position: absolute;
    background: #fff;
    left: 15px;
    bottom: 77px;
    padding: 16px;
    h4 {
      font-size: 24px;
      font-family: 'Merriweather';
      margin-bottom: 16px;
    }
    small {
      color:#00000099;
    }      
  }
}

.intro {
  .intro-item {
    display: flex;
    justify-content: space-between;
    li {
      width: 32%;
    }
    h4 {
      font-size: 24px;
      font-family: 'Merriweather';
    }
  }
}
  
  